
```gitignore
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python-specific
*.pyo
*.pyd
*.pyc

# Config files
*.env
*.cfg

# OS-specific
.DS_Store
Thumbs.db

# Log files
*.log

# Weights and data
weights/
videos/

# IDEs
.vscode/
.idea/
